streamlit
langchain_community
langchain
BeautifulSoup4
faiss-cpu
altair
langchain-google-genai
tiktoken
langchain-groq
langchainhub
google-api-python-client
httpx[http2]
spotipy
lyricsgenius
scikit-learn
fuzzywuzzy
audio_recorder_streamlit
deepgram-sdk
sentence-transformers
